#book-generator {
    margin-top: 25px;
    background-color: #ffffff;
    padding: 8px;
    border-radius: 10px;
}

#book-genre{
    margin: 0 auto;
    width: 99%;
    background-color: #da532c;
    height: 50px;
    text-align: center;
    color: #eeeeee;
    font-weight: bold;
    font-size: 12px;
}

#book-detail{
    width: 45%;
    text-wrap: normal;
    text-align: center;
    padding: 3px;
    margin-left: 0.5%;
    display: inline-block;
    vertical-align: top;
}

#book_summary{
    width: 45%;
    text-wrap: normal;
    text-align: left;
    padding: 3px;
    margin-right: 0.5%;
    display: inline-block;
    vertical-align: top;
}

.book-list-detail:hover{
    background-color: #da532c;
    color: #eeeeee;
    font-weight: bold;
}

#book-detail h1, #book-detail h2, #book-detail h3, #book-detail h4{
    color: #da532c!important;
}

#book-detail h1{
    font-size: 16px;
}

#book-detail h3{
    font-size: 12px;
}

#google-description{
    min-height: 200px;
    max-height: 300px;
    padding: 10px;
    display: block;
    overflow-y: scroll;
    font-family: "Big Caslon", serif;
    word-spacing: 0.3em;
    line-height: 1.3em;
}